config BCMDHD
	tristate "Broadcom 4330/34 wireless cards support"
	depends on MMC
	---help---
	  This module adds support for wireless adapters based on
	  Broadcom 4330/34 chipset.

	  This driver uses the kernel's wireless extensions subsystem.

	  If you choose to build a module, it'll be called dhd. Say M if
	  unsure.

config BCMDHD_FW_PATH
	depends on BCMDHD
	string "Firmware path"
	default "/system/vendor/firmware/fw_bcmdhd.bin"
	---help---
	  Path to the firmware file.
		
config BCMDHD_NVRAM_PATH
	depends on BCMDHD
	string "NVRAM path"
	default "/system/etc/nv_bcmdhd.txt"
	---help---
	  Path to the calibration file.

config DHD_USE_STATIC_BUF
	depends on BCMDHD
	bool "Use static buffer in os_malloc"
	default n
	---help---
	  Use static buffer in os_malloc

